<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        
		<title>Exodus</title>
		<link rel="shortcut icon" class="favicon" type="img/png" href="/assets/favicon/inverse.png">
		<link rel="stylesheet" href="/css/flicker.css" type="text/css"/>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}
  <script type="text/javascript" src="/js/rpg.js"></script>
	</body>
</html>
