<div class="Begin justify-content-center">
    <span id="E">E</span>
    <span id="X">X</span>
    <span id="O">O</span>
    <span id="D">D</span>
    <span id="U">U</span>
    <span id="S">S</span>
    <a href="/rpg.html"></a>
</div>
