#titles {
    overflow: hidden;
    background-color: #000;
    font-family: Montserrat;
    display: none;
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 0;
}
#titles div#the-end {
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 12px #ffffff;
    width: 100%;
    text-align: center;
}
#credits {
    color: #ffffff;
    position: absolute;
}
#credits h1 {
    color: #888888;
    width: 100%;
    height: 100%;
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 10px;
}
#credits dl {
    margin: 0px 15%;
}
#credits dt {
    float: left;
    width: 260px;
    margin: 0;
    padding: 30px 0 0 0;
    text-align: left;
    font-family: "Arial Narrow", sans-serif !important;
    font-size: 18px;
    clear:left;
}
#credits dd {
    width: 100%;
    margin: 0 0 0 280px;
    padding: 30px 0 0 0;
    font-family: "Arial Black", sans-serif !important;
    font-weight: bold;
    font-size: 20px;
    text-align: left;    
}
#credits p {
    width: 508px;
    margin: 10px auto;
    text-align: center;
    font-family: Arial, sans-serif !important;
    font-size: 20px;
    letter-spacing: 0.4em;
}
#credits .fineprint {
    color: #b9b5b5;
    width: 100%;
    margin: 50px auto;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif !important; 
}
.clearfix after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* close commented backslash hack */