/* CODE TO HAVE IMAGE FADE IN */

.death{
    max-width: 50%;
}

.door{
    max-width: 30%;
}

.fade-in {
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
}
    
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.fade-out {
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-moz-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-o-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-ms-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}