.img-fluid{
    max-width: 8%;
}

body{
    background-color: black;
}


.button-styling{
  background-color: black;
  border-color: black;
  box-shadow: 0 0 7px;
  font-family: Montserrat;
}

/* change cursor to hand hover effect */
.exodus span { 
  cursor: pointer
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.description {
  font-family: 'Source Code Pro', monospace;  
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  color: white;
  letter-spacing: normal;
}
